# .clang-format
BasedOnStyle: Google
ColumnLimit: 80

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

BreakBeforeBraces: Attach

DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: Align
AlignOperands: true

SpaceBeforeParens: ControlStatements
